.ShopNavigationAndFiltersPanelMenuMainBlock {
    /*min-height: 30px;*/
}
.ShopNavigationAndFiltersPanelMenuMainBlock .ShopNavigationAndFiltersPanelMenuBlock {
    font: bold 12px/15px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    height: 20px;
    width: 160px;
    padding: 5px 0px;
    float: right;
}
.ShopNavigationAndFiltersPanelMenuMainBlock .ShopNavigationAndFiltersPanelMenuBlock .ShopNavigationAndFiltersPanelMenuElement {
    padding: 5px;
    height: 10px;
    display: block;
    float: right;
    font: bold 10px/10px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    text-transform: uppercase;
    border-left: 1px solid #ef7f1a;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 

}
.ShopNavigationAndFiltersPanelMenuMainBlock .ShopNavigationAndFiltersPanelMenuBlock .ShopNavigationAndFiltersPanelMenuElement.thisOpen {
    color: #ef7f1a;
}
.ShopNavigationAndFiltersPanelMenuMainBlock .ShopNavigationAndFiltersPanelMenuBlock .ShopNavigationAndFiltersPanelMenuElement:hover {
    color: #ef7f1a;
}
/*.ShopNavigationAndFiltersPanelMenuMainBlock .ShopNavigationAndFiltersPanelMenuBlock .ShopNavigationAndFiltersPanelMenuElement:first-child {
    border: none;
}*/
.ShopNavigationAndFiltersPanelMenuMainBlock .ShopNavigationAndFiltersPanelMenuBlock .ShopNavigationAndFiltersPanelMenuElement:last-child {
    border: none;
}
.ShopNavigationAndFiltersPanelMenuMainBlock .ShopNavigationAndFiltersPanelMenuBlock .ShopNavigationAndFiltersPanelMenuElement.closeButton {
    display: none;
}
.ShopNavigationAndFiltersPanelMenuMainBlock .ThisGroupPathPanel {
    width: 800px;
    float: left;
}

.ShopFilterBlockCloseButton {
    display: none;
}

.thisOpen .ShopFilterBlockCloseButton {
    display: inline;
}