/*
НЕ ИЗМЕНЯТЬ И НЕ УДАЛЯТЬ АВТОРСКИЕ ПРАВА И ЗАГОЛОВОК ФАЙЛА

Копирайт © 2010-2016, CompuProject и/или дочерние компании.
Все права защищены.

CSystem это программное обеспечение предоставленное и разработанное 
CompuProject в рамках проекта CSystem без каких либо сторонних изменений.

Распространение, использование исходного кода в любой форме и/или его 
модификация разрешается при условии, что выполняются следующие условия:

1. При распространении исходного кода должно оставатсья указанное выше 
   уведомление об авторских правах, этот список условий и последующий 
   отказ от гарантий.

2. При изменении исходного кода должно оставатсья указанное выше 
   уведомление об авторских правах, этот список условий, последующий 
   отказ от гарантий и пометка о сделанных изменениях.

3. Распространение и/или изменение исходного кода должно происходить
   на условиях Стандартной общественной лицензии GNU в том виде, в каком 
   она была опубликована Фондом свободного программного обеспечения;
   либо лицензии версии 3, либо (по вашему выбору) любой более поздней
   версии. Вы должны были получить копию Стандартной общественной 
   лицензии GNU вместе с этой программой. Если это не так, см. 
   <http://www.gnu.org/licenses/>.

CSystem распространяется в надежде, что она будет полезной,
но БЕЗО ВСЯКИХ ГАРАНТИЙ; даже без неявной гарантии ТОВАРНОГО ВИДА
или ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННЫХ ЦЕЛЕЙ. Подробнее см. в Стандартной
общественной лицензии GNU.

НИ ПРИ КАКИХ УСЛОВИЯХ ПРОЕКТ, ЕГО УЧАСТНИКИ ИЛИ CompuProject НЕ 
НЕСУТ ОТВЕТСТВЕННОСТИ ЗА КАКИЕ ЛИБО ПРЯМЫЕ, КОСВЕННЫЕ, СЛУЧАЙНЫЕ, 
ОСОБЫЕ, ШТРАФНЫЕ ИЛИ КАКИЕ ЛИБО ДРУГИЕ УБЫТКИ (ВКЛЮЧАЯ, НО НЕ 
ОГРАНИЧИВАЯСЬ ПРИОБРЕТЕНИЕМ ИЛИ ЗАМЕНОЙ ТОВАРОВ И УСЛУГ; ПОТЕРЕЙ 
ДАННЫХ ИЛИ ПРИБЫЛИ; ПРИОСТАНОВЛЕНИЕ БИЗНЕСА). 

ИСПОЛЬЗОВАНИЕ ДАННОГО ИСХОДНОГО КОДА ОЗНАЧАЕТ, ЧТО ВЫ БЫЛИ ОЗНАКОЛМЛЕНЫ
СО ВСЕМИ ПРАВАМИ, СТАНДАРТАМИ И УСЛОВИЯМИ, УКАЗАННЫМИ ВЫШЕ, СОГЛАСНЫ С НИМИ
И ОБЯЗУЕТЕСЬ ИХ СОБЛЮДАТЬ.

ЕСЛИ ВЫ НЕ СОГЛАСНЫ С ВЫШЕУКАЗАННЫМИ ПРАВАМИ, СТАНДАРТАМИ И УСЛОВИЯМИ, 
ТО ВЫ МОЖЕТЕ ОТКАЗАТЬСЯ ОТ ИСПОЛЬЗОВАНИЯ ДАННОГО ИСХОДНОГО КОДА.

Данная копия CSystem используется для проекта Apelsin SHOP

*/
/* 
    Created on : 11.02.2016, 15:09:03
    Author     : Maxim Zaitsev
*/
.ShopNavigationMenuList {}
.ShopNavigationMenuList .ShopNavigationMenuListElement {
    list-style: none;
    display: block;
    height: 40px;
    width: 460px;
    background: #E4E4E4;
    margin-bottom: 3px;
}
.ShopNavigationMenuList .ShopNavigationMenuListElement:hover {
    background: #ef7f1a;
    color: #FFF;
}
.ShopNavigationMenuList .ShopNavigationMenuListElement:hover a {
    color: #FFF;
}
.ShopNavigationMenuList .ShopNavigationMenuListElement a {
    display: block;
    height: 40px;
    width: 460px;
}
.ShopNavigationMenuList .ShopNavigationMenuListElement .ShopNavigationMenuListElementIconBlock {
    width: 40px; height: 40px;
    background: #FFF; 
    float: left;
}
.ShopNavigationMenuList .ShopNavigationMenuListElement .ShopNavigationMenuListElementIconBlock .ShopNavigationMenuListElementIcon {
    width: 40px; height: 40px;
}
.ShopNavigationMenuList .ShopNavigationMenuListElement .ShopNavigationMenuListElementName {
    width: 400px;
    height: 40px;
    float: left;
    padding: 0px 10px;
    font: bold 12px/14px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
}
.ShopNavigationMenuList .ShopNavigationMenuListElement .ShopNavigationMenuListElementName div {
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}