.ShopBasketBlockEmpty {
    line-height: 200px;
    color: #B8B8B8;
    text-align: center;
}
.ShopBasketBlock {}
.ShopBasketBlock .ShopBasketItemBlock {
    height: 90px;
    border-bottom: 1px dotted #869791;
}
.ShopBasketBlock .ShopBasketItemBlock:hover {
    background: #F5F5F5;
}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemImageInfoBlock {
    width: 70px;
    height: 90px;
    float: left;
}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemImageInfoBlock .itemImage {
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemImageInfoBlock .itemImage a {}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemImageInfoBlock .itemImage img {
    max-width: 50px;
    max-height: 50px;
    border: none;
}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemImageInfoBlock .ShopItemAmount {
    margin: 5px auto;
    margin-bottom: 10px;
    height: 5px;
    width: 50px;
    background: #C3C3C3;
}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemImageInfoBlock .ShopItemAmount .ShopItemAmountScale {
    height: 5px;
    background: #00cf00;
}

.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemTextInfoBlock {
    height: 90px;
    float: left;
    font:  12px/12px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemTextInfoBlock .itemName {
    height: 90px;
    width: 640px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemTextInfoBlock .itemName:hover {
    text-decoration: underline;
}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemPriceInfoBlock {
    width: 150px;
    height: 60px;
    padding: 15px 0px 15px 0px;
    float: left;
    text-align: right;
}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemPriceInfoBlock .priceValue {
    height: 30px;
    font:  14px/30px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemPriceInfoBlock .priceValue .Price {}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemPriceInfoBlock .priceValue .Price .PriceBasic,
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemPriceInfoBlock .priceValue .Price .PriceAuxiliary {}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemPriceInfoBlock .priceValue .Price .PriceBasicText,
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemPriceInfoBlock .priceValue .Price .PriceAuxiliaryText {
    font:  10px/30px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    padding-left: 2px;
}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemPriceInfoBlock .allPriceValue {
    height: 30px;
    font:  bold 14px/30px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemPriceInfoBlock .allPriceValue .Price {}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemPriceInfoBlock .allPriceValue .Price .PriceBasic,
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemPriceInfoBlock .allPriceValue .Price .PriceAuxiliary {}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemPriceInfoBlock .allPriceValue .Price .PriceBasicText,
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemPriceInfoBlock .allPriceValue .Price .PriceAuxiliaryText {
    font: bold 10px/30px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    padding-left: 2px;
}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemButtonBlock {
    width: 100px;
    height: 60px;
    padding: 15px 0px 15px 0px;
    float: left;
}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemButtonBlock .AmountButtonBlock {
    height: 30px;
}
.Shop .shopItemAmountBuyBlock {
    height: 20px;
    width: 70px;
    padding: 5px 15px 5px 15px;
}
.Shop .shopItemAmountBuyBlock .shopItemAmountBuyDelButton,
.Shop .shopItemAmountBuyBlock .shopItemAmountBuyAddButton {
    padding: 0px;
    margin: 0px;
    height: 20px;
    width: 20px;
    font: bold 10px/20px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    background: #C8C8C8;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
}
.Shop .shopItemAmountBuyBlock .shopItemAmountBuyDelButton:hover,
.Shop .shopItemAmountBuyBlock .shopItemAmountBuyAddButton:hover {
    background: #ef7f1a;
}
.Shop .shopItemAmountBuyBlock .shopItemAmountBuyDelButton {
    float: left;
}
.Shop .shopItemAmountBuyBlock .shopItemAmountBuyAddButton {
    float: right;
}
.Shop .shopItemAmountBuyBlock .shopItemAmountBuy {
    background: rgb(250,250,250);
    padding: 0px 5px 0px 5px;
    margin: 0px;
    font: 10px/15px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    color: #ef7f1a;
    border: none;
    box-shadow: none;
    text-shadow: 0 1px 0 #fff;
    height: 20px;
    width: 20px;
    text-align: center;
}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemButtonBlock .DeleteButtonBlock {
    height: 20px;
    padding: 5px 15px 5px 15px;
}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemButtonBlock .DeleteButtonBlock .DeleteButton {
    width: 70px;
    height: 20px;
    font: bold 12px/20px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    background: #C8C8C8;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.ShopBasketBlock .ShopBasketItemBlock .ShopBasketItemButtonBlock .DeleteButtonBlock .DeleteButton:hover {
    background: #ef7f1a;
}
.ShopBasketBlock .ShopBasketItemBuyBlock {
    height: 30px;
    padding: 10px 0px 20px 0px;
}
.ShopBasketBlock .ShopBasketItemBuyBlock .ShopBasketItemPayInfoBlock {
    float: right;
    margin-right: 20px;
}
.ShopBasketBlock .ShopBasketItemBuyBlock .ShopBasketItemPayInfoBlock .text {
    font: 12px/30px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    text-transform: uppercase;
}
.ShopBasketBlock .ShopBasketItemBuyBlock .ShopBasketItemPayInfoBlock .price {
    font: bold 20px/30px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
}
.ShopBasketBlock .ShopBasketItemBuyBlock .ShopBasketItemPayInfoBlock .price .Price {}
.ShopBasketBlock .ShopBasketItemBuyBlock .ShopBasketItemPayInfoBlock .price .Price .PriceBasic,
.ShopBasketBlock .ShopBasketItemBuyBlock .ShopBasketItemPayInfoBlock .price .Price .PriceAuxiliary {}
.ShopBasketBlock .ShopBasketItemBuyBlock .ShopBasketItemPayInfoBlock .price .Price .PriceBasicText,
.ShopBasketBlock .ShopBasketItemBuyBlock .ShopBasketItemPayInfoBlock .price .Price .PriceAuxiliaryText {
    font: bold 14px/30px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    padding-left: 2px;
}
.ShopBasketBlock .ShopBasketItemBuyBlock .ShopBasketItemBuyButton {
    height: 30px;
    width: 120px;
    font: bold 14px/30px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    background: #ef7f1a;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    cursor: pointer;
    float: right;
}
.ShopBasketBlock .ShopBasketItemBuyBlock .ShopBasketItemBuyButton:hover {
    background: rgb(224,122,21);
}
.ShopBasketBlock .ShopBasketItemBuyBlock .ShopBasketItemClearButton {
    float: left;
    background: #C8C8C8;
}
.ShopBasketBlock .ShopBasketItemBuyBlock .ShopBasketItemClearButton:hover {
    background: #ef7f1a;
}
/*---------- FANCYBOX ---------------*/
/*смена фона для fancybox*/
.itemMoreInfoWrapper {
    font: 14px/16px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    max-width: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}
.itemMoreInfoWrapper .titleName {
    text-align: center;
    font-size: 16px;
    color: #ef7f1a;
    font-weight: bold;
    padding-bottom: 10px;
}
.itemMoreInfoWrapper img {
    float: left;
    padding: 0 10px 10px 0px;
}
.itemMoreInfoWrapper.itemMoreInfoWrapperNameDescription {}
.itemMoreInfoWrapper .ShopItemDescription {
    text-align: justify;
}
.itemMoreInfoWrapper .itemMoreInfoWrapperLine {
    width: 500px;
    height: 1px;
    background: #ef7f1a;
    margin: 10px auto;
}
.itemMoreInfoWrapper .ShopItemParams .ShopItemParam {
    margin: 5px 0;
}
.itemMoreInfoWrapper .ShopItemParams .ShopItemParam .ShopItemParamName {
    color: #ef7f1a;
    display: inline-block;
    width: 295px;
    font-size: 12px;
    padding-right: 10px;
}
.itemMoreInfoWrapper .ShopItemParams .ShopItemParam .ShopItemParamName div {
    text-align: right;
}
.itemMoreInfoWrapper .ShopItemParams .ShopItemParam .ShopItemParamValue {
    width: 295px;
    display: inline-block;
}
.itemMoreInfoWrapper .ShopItemParams .ShopItemParam .ShopItemParamValue div {
    text-align: left;
}
