.ShopItemsListBlock {}
.ShopItemsListBlock .ShopItemsListBlockTop {
    margin-bottom: 10px;
}
.ShopItemsListBlock .PropertyValueForGroup {
    font: 11px/12px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    margin: 10px 0px 10px 0px;
}
.ShopItemsListBlock .PropertyValueForGroup .PropertyValueString {
    margin-bottom: 10px;
}
.ShopItemsListBlock .PropertyValueForGroup .PropertyValueString .PropertyValueStringClearButton, 
.ShopItemsListBlock .PropertyValueForGroup .PropertyValueString .property, 
.ShopItemsListBlock .PropertyValueForGroup .PropertyValueString .value {
    float: left;
}
.ShopItemsListBlock .PropertyValueForGroup .PropertyValueString .PropertyValueStringClearButton {
    cursor: pointer;
    width: 6px;
    height: 6px;
    margin: 0px 3px;
    background: url('../img/close.png') center center no-repeat;
}
.ShopItemsListBlock .PropertyValueForGroup .PropertyValueString .property {
    font: bold 11px/12px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    color: #ef7f1a;
}
.ShopItemsListBlock .PropertyValueForGroup .PropertyValueString .value {
    padding: 0px 3px;
    font: 11px/12px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
}
.ShopItemsListBlock .PropertyValueForGroup .PropertyValueString .value .ShopPropertyGroupSelectValueDeletedElement {
    /*cursor: pointer;*/
    /*display: inline-block;*/
    float: left;
    background: #C8C8C8;
    color: #fff;
    padding: 1px 5px 0px 5px;
    font: bold 10px/14px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 3px 3px 0px;
}
.ShopItemsListBlock .PropertyValueForGroup .PropertyValueString .value .ShopPropertyGroupSelectValueDeletedElement .ShopPropertyGroupSelectValueDeletedElementValue,
.ShopItemsListBlock .PropertyValueForGroup .PropertyValueString .value .ShopPropertyGroupSelectValueDeletedElement .ShopPropertyGroupSelectValueDeletedElementDeletButton {
    float: left;
}
.ShopItemsListBlock .PropertyValueForGroup .PropertyValueString .value .ShopPropertyGroupSelectValueDeletedElement .ShopPropertyGroupSelectValueDeletedElementDeletButton {
    cursor: pointer;
    width: 6px;
    height: 6px;
    background: url('../img/white_close.png') center center no-repeat;
    padding: 3px;
    /*margin: 3px;*/
}
.ShopItemsListBlock .PropertyValueForGroup .PropertyValueString .value .ShopPropertyGroupSelectValueDeletedElement .ShopPropertyGroupSelectValueDeletedElementDeletButton:hover {
    background: url('../img/close.png') center center no-repeat;
}

.ShopItemsListBlock .deleteBlockProperty {
    cursor: pointer;
    display: inline-block;
    float: left;
    background: #C8C8C8;
    color: #fff;
    padding: 1px 5px 0px 5px;
    font: bold 10px/14px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    text-align: center;
    text-transform: uppercase;
}
.ShopItemsListBlock .deleteBlockProperty:hover {
    background: #ef7f1a;
}
/*.ShopItemsListBlock .PropertyValueForGroup .PropertyValueString .propertyValueStringClear.deleteValueInGroupSelect,
.ShopItemsListBlock .PropertyValueForGroup .deleteValueInGroupSelect {
    cursor: pointer;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0px 3px;
    background: url('../img/close.png') center center no-repeat;
}
.ShopItemsListBlock .PropertyValueForGroup .property {
    font: bold 11px/12px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    color: #ef7f1a;
}
.ShopItemsListBlock .PropertyValueForGroup .value {
    font: 11px/12px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
}*/




.ShopItemsListBlock .ItemsFound {
    font:  bold 13px/20px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    text-align: right;
    margin-bottom: 20px;
}
.ShopItemsListBlock .ItemsFoundTop {
    /*    font: bold 14px/20px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
        color: #ef7f1a;*/
}
.ShopItemsListBlock .ItemsFoundTop .property {
    font: bold 12px/14px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    color: #ef7f1a;
}
.ShopItemsListBlock .ItemsFoundTop .value {
    font: 12px/14px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
}
.ShopItemsListBlock .ShopItemsListNavBlock {
    height: 26px;
    text-align: center;
    clear: both;
    margin: 5px 0px 5px 0px;
}
.ShopItemsListBlock .ShopItemsListNavBlock ul.ShopItemsListNav {
    clear: both;
    list-style: none;
    margin-left: 0;
    width: auto;
    text-align: center;
    display: inline-block;
}
.ShopItemsListBlock .ShopItemsListNavBlock ul.ShopItemsListNav li.ShopItemsListNavElement {
    display: inline;
}
.ShopItemsListBlock .ShopItemsListNavBlock ul.ShopItemsListNav li.ShopItemsListNavElement div, 
.ShopItemsListBlock .ShopItemsListNavBlock ul.ShopItemsListNav li.ShopItemsListNavElement a {
    float: left;
    display: block;
    height: 20px;
    width: 20px;
    padding: 0px;
    font:  10px/20px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    text-align: center;
    border: 1px #C3C3C3 solid;
    border-radius: 5px;
    margin: 2px;
}
.ShopItemsListBlock .ShopItemsListNavBlock ul.ShopItemsListNav li.ShopItemsListNavElement.FerstPage div,
.ShopItemsListBlock .ShopItemsListNavBlock ul.ShopItemsListNav li.ShopItemsListNavElement.FerstPage a  {
    width: 60px;
}
.ShopItemsListBlock .ShopItemsListNavBlock ul.ShopItemsListNav li.ShopItemsListNavElement.OtherPage div,
.ShopItemsListBlock .ShopItemsListNavBlock ul.ShopItemsListNav li.ShopItemsListNavElement.OtherPage a {}
.ShopItemsListBlock .ShopItemsListNavBlock ul.ShopItemsListNav li.ShopItemsListNavElement.LastPage div,
.ShopItemsListBlock .ShopItemsListNavBlock ul.ShopItemsListNav li.ShopItemsListNavElement.LastPage a {
    width: 60px;
}
.ShopItemsListBlock .ShopItemsListNavBlock ul.ShopItemsListNav li.ShopItemsListNavElement.ThisPage div,
.ShopItemsListBlock .ShopItemsListNavBlock ul.ShopItemsListNav li.ShopItemsListNavElement.ThisPage a {
    background: #ef7f1a;
    border: 1px #ef7f1a solid;
    color: #fff;
}
.ShopItemsListBlock .ShopItemsListNavBlock ul.ShopItemsListNav li.ShopItemsListNavElement div,:hover
.ShopItemsListBlock .ShopItemsListNavBlock ul.ShopItemsListNav li.ShopItemsListNavElement a:hover {
    background: #ef7f1a;
    border: 1px #ef7f1a solid;
    color: #fff;
}

.ShopItemsListBlock .ShopItemsList {
    clear: both;
}
.ShopItemsListBlock .ShopItemsList .ShopItemElement {
    float: left;
    width: 158px;
    padding: 3px 0px 10px 0px;
    border: 1px transparent solid;
    position: relative;
}
.ShopItemsListBlock .ShopItemsList .ShopItemElement:hover {
    border: 1px #ef7f1a solid;
}
.ShopItemsListBlock .ShopItemsList .ShopItemElement.NormalItem {}
.ShopItemsListBlock .ShopItemsList .ShopItemElement.ActionItem {}
.ShopItemsListBlock .ShopItemsList .ShopItemElement.Available {}
.ShopItemsListBlock .ShopItemsList .ShopItemElement.status_available.NotAvailable {}
.ShopItemsListBlock .ShopItemsList .ShopItemElement.status_default.NotAvailable,
.ShopItemsListBlock .ShopItemsList .ShopItemElement.status_available.NotAvailable,
.ShopItemsListBlock .ShopItemsList .ShopItemElement.status_out_of_production.NotAvailable {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url(desaturate.svg#greyscale);
    filter: gray;
    -webkit-filter: grayscale(1);
    opacity: 0.5;
}

.ShopItemsListBlock .ShopItemsList .ShopItemElement a {}

.ShopItemsListBlock .ShopItemsList .ShopItemElement .ItemLable {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 12;
    height: 70px;
    width: 70px;
}

.ShopItemsListBlock .ShopItemsList .ShopItemElement .ItemLable.amount_available.action {
    background: url('../img/itemLableIcon/available_action.png') top left no-repeat;}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ItemLable.amount_available.no_action {
    display: none;}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ItemLable.amount_not_available.action {
    background: url('../img/itemLableIcon/not_available_action.png') top left no-repeat;}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ItemLable.amount_not_available.no_action {
    background: url('../img/itemLableIcon/not_available.png') top left no-repeat;}

.ShopItemsListBlock .ShopItemsList .ShopItemElement .ItemLable.status_available.amount_available.action {
    background: url('../img/itemLableIcon/available_action.png') top left no-repeat;}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ItemLable.status_available.amount_available.no_action {
    display: none;}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ItemLable.status_available.amount_not_available.action {
    background: url('../img/itemLableIcon/not_available_action.png') top left no-repeat;}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ItemLable.status_available.amount_not_available.no_action {
    background: url('../img/itemLableIcon/not_available.png') top left no-repeat;}

.ShopItemsListBlock .ShopItemsList .ShopItemElement .ItemLable.status_for_order.amount_available.action {
    background: url('../img/itemLableIcon/for_order_action.png') top left no-repeat;}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ItemLable.status_for_order.amount_available.no_action {
    background: url('../img/itemLableIcon/for_order.png') top left no-repeat;}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ItemLable.status_for_order.amount_not_available.action {
    background: url('../img/itemLableIcon/for_order_action.png') top left no-repeat;}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ItemLable.status_for_order.amount_not_available.no_action {
    background: url('../img/itemLableIcon/for_order.png') top left no-repeat;}

.ShopItemsListBlock .ShopItemsList .ShopItemElement .ItemLable.status_sold_out.amount_available.action {
    background: url('../img/itemLableIcon/for_order_action.png') top left no-repeat;}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ItemLable.status_sold_out.amount_available.no_action {
    background: url('../img/itemLableIcon/for_order.png') top left no-repeat;}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ItemLable.status_sold_out.amount_not_available.action {
    background: url('../img/itemLableIcon/for_order_action.png') top left no-repeat;}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ItemLable.status_sold_out.amount_not_available.no_action {
    background: url('../img/itemLableIcon/for_order.png') top left no-repeat;}

.ShopItemsListBlock .ShopItemsList .ShopItemElement .ItemLable.status_out_of_production.amount_available.action {
    background: url('../img/itemLableIcon/out_of_production_action.png') top left no-repeat;}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ItemLable.status_out_of_production.amount_available.no_action {
    background: url('../img/itemLableIcon/out_of_production.png') top left no-repeat;}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ItemLable.status_out_of_production.amount_not_available.action {
    background: url('../img/itemLableIcon/not_available_action.png') top left no-repeat;}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ItemLable.status_out_of_production.amount_not_available.no_action {
    background: url('../img/itemLableIcon/not_available.png') top left no-repeat;}

.ShopItemsListBlock .ShopItemsList .ShopItemElement .StatusItemLable {
    position: absolute;
    top: 50px;
    left: 29px;
    z-index: 999;
    width: 100px;
    background: rgba(0,0,0,.5);
    text-align: center;
    color: #fff;
    font:  10px/20px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    text-transform: uppercase;
}

.ShopItemsListBlock .ShopItemsList .ShopItemElement .ShopItemElement_Image {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ShopItemElement_ItemName {
    width: 140px;
    height: 60px;
    margin: 0 auto;
    font:  10px/10px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ShopItemElement_ItemName div {
    height: 60px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ShopItemAmount {
    margin: 5px auto;
    height: 5px;
    width: 30px;
    background: #C3C3C3;
}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ShopItemAmount .ShopItemAmountScale {
    height: 5px;
    background: #00cf00;
}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ShopItemAmount .ShopItemAmountScale.VeryFew {
    background: #CF0000;
}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ShopItemAmount .ShopItemAmountScale.Few {
    background: #CF7600;
}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ShopItemAmount .ShopItemAmountScale.Suffice {
    background: #CFB500;
}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ShopItemAmount .ShopItemAmountScale.Many {
    background: #00cf00;
}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ShopItemElement_PriceValue {
    height: 20px;
    width: 140px;
    margin: 0 auto;
    font:  bold 14px/20px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    text-align: center;
}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ShopItemElement_PriceValue.zero {
    height: 20px;
    width: 140px;
    margin: 0 auto;
    font:  bold 10px/10px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    text-align: center;
}

.ShopItemsListBlock .ShopItemsList .ShopItemElement .ShopItemElement_PriceValue .Price {}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ShopItemElement_PriceValue .Price .PriceBasic,
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ShopItemElement_PriceValue .Price .PriceAuxiliary {}
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ShopItemElement_PriceValue .Price .PriceBasicText,
.ShopItemsListBlock .ShopItemsList .ShopItemElement .ShopItemElement_PriceValue .Price .PriceAuxiliaryText {
    font:  bold 11px/20px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    padding-left: 2px;
}

.ShopItemElement_Amount {
    height: 5px;
    width: 30px;
    background: #C3C3C3;
}

.ShopItemElement_Amount .ShopItemElement_AmountScale {
    height: 5px;
    background: #00cf00;
}

.ShopItemsListBlock .ShopItemsListPanelBlock .ShopItemsListBlockTop {
    float: left;
}
.ShopItemsListBlock .ShopItemsListPanelBlock .ShopGroupsItemListOrderByPanelWrapper {
    float: right;
}